<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hospitalManagement</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="Entity.Doctor"/>
        <mapping class="Entity.Patient"/>
        <mapping class="Entity.Visit"/>
        <mapping class="Entity.Patient"/>
        <mapping class="Entity.Specialization"/>
        <mapping class="Entity.Service"/>
        <mapping class="Entity.Invoice"/>
        <mapping class="Menu.DoctorMenu"/>
        <mapping class="Menu.PatientMenu"/>
        <mapping class="Menu.VisitMenu"/>
        <mapping class="Menu.ServiceMenu"/>
        <mapping class="Menu.InvoiceMenu"/>
        <mapping class="Repository.DoctorRepository"/>
        <mapping class="Repository.PatientRepository"/>
        <mapping class="Repository.VisitRepository"/>
        <mapping class="Repository.ServiceRepository"/>
        <mapping class="Repository.InvoiceRepository"/>

    </session-factory>
</hibernate-configuration>